// ============================== TAILWIND ============================== //

@tailwind base;
@tailwind components;
@tailwind utilities;

// ============================== FONTS ============================== //

@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

body {
  height: 100vh;
  width: 100%;
  font-family: "Kodchasan";
  font-weight: 400;
}

// ============================== General ============================== //

.router-link-active {
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
  & > span {
    color: #fff;
  }
}

// ============================== HOME ============================== //

.home {
  height: 100vh;
  display: flex;
  gap: 15px;
}

.home__main {
  padding: 20px;
  margin-left: 240px;

  & > button {
    display: block;
    margin-left: auto;
  }
}

.home__sidebar {
  height: 100%;
}

.home__input {
  display: flex;
  gap: 15px;
  align-items: center;

  &>input {
    width: 500px;
  }
}

// ============================== Sign Up ============================== //

.signup {
  overflow: hidden;
}

.signup__wrapper {
  background: url("@/assets/img/rasm.png");
}

// ============================== Blocks ============================== //
.info__blocks {
  display: flex;
  gap: 15px;
  height: 230px;
  // border-bottom: 2px solid #000;
  padding-bottom: 20px;
}

.info__block {
  width: 25%;
  border-radius: 20px;
  background: linear-gradient(225deg, #5667FF 0%, #2396EF 100%);

  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  &:first-child {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > input {
      padding: 10px;
      color: #000;
    }
  }
}

// ============================== Help ============================== //
.help {
  width: 500px;
}

.inp{
  color: #000;
  outline: none;
}
.btn{
  width: 80px;
  height: 40px;
  border: 1px solid black;
}
.title{
  color: #000;
}

// ============================== Calculator ============================== //
.calculator {
  border-radius: 30px;
  padding: 15px;
  background-color: rgba(82, 82, 82, 0.212);

  &__sum {
    font-size: 18px;
  }
}

